 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-white">About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Algoritics is a high tech small business located in Maui, Hawaii. Algoritics provides professional engineering and software services specializing in modeling and simulation, machine learning, and full stack web development.</p>
                </div>
                <div class="col-lg-4">
                    <p>Services provided include but not limited to: Software Development in Python, Java, C++, JavaScript, NodeJS; Machine learning with TensorFlow and PyTorch;</p>
                </div>
            </div>
        </div>
    </section>
