 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-white">About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Algoritics, LLC is a high tech startup based in Maui, Hawaii. Algoritics is an engineering and software service provider specializing in developing full stack web applications, providing data analysis, and graphic design.</p>
                </div>
                <div class="col-lg-4">
                    <p>Services provided include but not limited to: Java, C++, JavaScript, NodeJS software development; MATLAB, Octave, Python data analysis; Wordpress administration; logo design; and web design.</p>
                </div>
            </div>
        </div>
    </section>